input.form-control {
	width: 50%;
	font-size: 25px;
	background-color: #f2f2f2;
	border: none;
	color: #3a3a3a;
}

button {
	border: none;
	background-color: #3a3a3a;
	color: #f2f2f2;
}

div.date {
	color: #ff6666;
}