div#target {
	width: 600px;
	max-height: 300px;
	display: none;
	overflow-y: scroll;
	background-color: gray;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
}

ul li label {
	overflow-x: hidden;
	white-space: nowrap;
	max-width: 520px;
	text-overflow: ellipsis;
	display: inline-block;
}

span.entry {
	width: 580px;
	display: block;
	overflow-x: hidden;
	white-space: nowrap;
	margin: 10px;
}

span.entry a{
	display: inline-block;
	max-width: 520px;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

button.add_button {
	width: 34px;
	height: 34px;
	float: right;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

hgroup {
	width: 800px;
}

div.timeline_entry {
	display: inline-block;
	width: 400px;
	padding: 10px;
	background-color: #1a1a1a;
	margin-top: 5px;
}

div.timeline_entry div.date {
	display: inline;
	float: left;
}

div.timeline_entry button {
	display: inline;
	float: right;
	height: 20px;
	font-size: 10px;
	float: right;
}

div.timeline_entry button.add {
	margin-top: 8px;
}

div.timeline_entry textarea {
	width: 400px;
	height: 100px;
	padding: 0;
	border: none;
	background-color: #f2f2f2;
}

input#save_button {
	border: none;
	background-color: #1a1a1a;
	color: #f2f2f2;
}
.checkbox-text {
	font-size: 16px !important;
	font-weight: 200;
	position: relative;
	top: -5px;
}
div#checkbox-sources {
	position: absolute;
	top: 50px;
	left: 130px;
}
div#checkbox-articles {
	position: absolute;
	top: 65px;
	left: 220px;		
}
div#checkbox-feeds {
	position: absolute;
	top: 65px;
	left: 310px;
}
div#checkbox-events {
	position: absolute;
	top: 65px;
	left: 400px;
}
div#checkbox-tags {
	position: absolute;
	top: 65px;
	left: 490px;
}
div#checkbox-label {
	position: absolute;
	top: 60px;
	left: 70px;
	font-size: 16px !important;
	font-weight: 200;
}
div#all_target {
	position: absolute;
	top: 100px;
}