<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<meta name="description" content="Newsfeed" />
		<meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">	
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Newsfeed</title>
		{% load staticfiles %}
		<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
		<script type="text/javascript" src="{% static "js/modern.js" %}"></script>
		<link rel="stylesheet" media="screen" href="{% static "css/style.css" %}" />
    </head>
	<body  class="open-menu">
		<nav role="navigation">
	    <ul id="navmenu" class="open">
	            <li><a href="/" class="nav-home current" data-canxfilter=""><i class="menu-icon icon-etch"></i></a></li>
	            <li><a href="/#studio" data-filter=".studio"><i class="menu-icon icon-studio"></i><span>Studio</span></a></li>
	            <li><a href="/#team" data-filter=".team"><i class="menu-icon icon-team"></i><span>Team</span></a></li>
	            <li><a href="/#projects" data-filter=".projects"><i class="menu-icon icon-work"></i><span>Projects</span></a></li>
	            <li><a href="/#ethos" data-filter=".ethos"><i class="menu-icon icon-ethos"></i><span>Ethos</span></a></li>
	    </ul>
	    <a href="#contact" id="nav-contact"><i class="menu-icon icon-contact"></i><span>Contact</span></a>    
		</nav>
		<section role="main">
		    <div class="grid-wrap shuffle grid-home">
		    <div id="logo-block" class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1">
		    <div class="block text-only">
		    	<h2>Newsfeeds</h2>
		    	<ul>
		    		<li><a href="/">Trending</a></li>
		        	{% for feed in feeds %}
						<li>
							<a href="/feed/{{feed.id}}">{{ feed.feed_title }}</a>
						</li>
					{% endfor %}
				</ul>	
		    </div>
		    </div>
			{% block content %}
    		{% endblock content %}
    	</section>
	</body>
</html>