<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta name="description" content="Newsfeed" />
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Newsfeed:8000</title>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
	<script type="text/javascript" src="{% static "js/modern.js" %}"></script>
	<script type="text/javascript" src="{% static "js/Ajaxy.js" %}"></script>
	<script type="text/javascript" src="{% static "js/GenericSearchBox.js" %}"></script>
	<script type="text/javascript" src="{% static "js/AllSearchBox.js" %}"></script>
	<script type="text/javascript" src="{% static "js/CompactSearchBox.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ArticleSearchBox.js" %}"></script>
	<script type="text/javascript" src="{% static "js/TagSearchBox.js" %}"></script>
	<script type="text/javascript" src="{% static "js/EditorSearchBox.js" %}"></script>
	<script type="text/javascript" src="{% static "js/PrettyDate.js" %}"></script>
	<script type="text/javascript" src="{% static "js/Timeline.js" %}"></script>
	<script type="text/javascript" src="{% static "js/EventTag.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ExtraArticlesFetcher.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fetchData.js" %}"></script>
	<script src="{% static "js/bootstrap-rating-input.min.js" %}" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" />
	<link rel="stylesheet" media="screen" href="{% static "css/style.css" %}" />
</head>
<body onload="loadDate()">
	<div id="top-nav">
		<div id="date">
			{% if user and not user.is_anonymous %}<li class="nav-li name">Hi {{ user.get_full_name|default:user.username }}</li>{% endif %}
		</div>
		<ul class="nav-ul">
		<li class="nav-li"><a href="/search">Search</a></li>
			<li class="nav-li"><a href="/create_source">Add source</a></li>
			{% if user and not user.is_anonymous %}
	 			<li class="nav-li"><a href="/create_event">Add event</a></li>
	 			<li class="nav-li"><a href="/create_feed">Add feed</a></li>
	 			<li class="nav-li"><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
			{% else %}
				<li class="nav-li"><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a></li>
			{% endif %}
			{% block header %} {% endblock header %} 
		</ul>
		<div id="home-title"><a href="/">Newsfeed:8000</a></div>	
	</div>
	<section role="main">
		{% block content %} {% endblock content %} 
	</section>
	<script>
	function loadDate() {	
		var today = new Date();
    	var dd = today.getDate();
    	var mm = today.getMonth()+1;
    	var yyyy = today.getFullYear();
    	if(dd<10){dd='0'+dd} 
		if(mm<10){mm='0'+mm}
		var today = mm+'.'+dd+'.'+yyyy;
    	var attach = "<li class=\"nav-li date\">" + today + "</li>"
    	$("#date").append(attach);
    };
	</script>	
</body>
</html>