{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/test.css" %}" />
<script type="text/javascript" src="{% static "js/SearchHelper.js" %}"></script>

<h2>Create an event</h1>

<form action="/new_event/" method="post" id="event_form">{% csrf_token %}

	<input type="hidden" name="pk" value={{event.id}}>
	{{form.id}}
	<label for="id_owner_name">Owner: {{event.owner.name}} </label>
	<input type="hidden" id="id_owner_name" name="owner_name" value={{event.owner.name}}>
	<input type="hidden" id="id_owner_pk" name="owner_pk" value={{event.owner.id}}>
	<p>{{form.title}}
	<p>{{form.eventTag}}

	<div id="timeline">
		<h1>Timeline</h1>
	</div>
	<script type="text/javascript">
		var timelineEntries = {{timelineEntries|safe}};
		var timeline = new Timeline("timeline", timelineEntries);
	</script>

	<h1>Articles</h1>
	{{form.articles}}
	<div id="article_search_box">
		<input type="text" placeholder="Add Articles...">
	</div>
	<div id="article_result_box"></div>
	<script type="text/javascript">
		var aSearchBox = new ArticleSearchBox("article_search_box", "article_result_box", "id_articles", "articles");
	</script>

	<h1>Tags</h1>
	<ul id="id_tags" class="saveList">
	{% for tag in event.tag_set.all %}
		<li>
			<label for="id_tags_{{forloop.counter0}}">
				<input type="checkbox" checked="checked" name="tags" value={{tag.id}}>{{tag.text}}</input>
			</label>
		</li>
	{% endfor %}
	</ul>
	<div id="tag_search_box">
		<input type="text" placeholder="Add Tags...">
	</div>
	<div id="tag_result_box">
		<script type="text/javascript">
			var tagSearchBox = new TagSearchBox("tag_search_box", "tag_result_box", "id_tags", "tags");
		</script>
	</div>

	<h1>Editors</h1>
	{% if not form.editors %}
		<ul id="id_editors" class="saveList">
		</ul>
	{% else %}
		{{form.editors}}
	{% endif %}
	<div id="editor_search_box">
		<input type="text" placeholder="Add an Editor...">
	</div>
	<div id="editor_result_box"></div>
	<script type="text/javascript">
		var edSearchBox = new EditorSearchBox("editor_search_box", "editor_result_box", "id_editors", "users");
	</script>

	<input type="submit" value="Save" />

</form>
{% endblock %}
