{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/test.css" %}" />
<script type="text/javascript" src="{% static "js/SearchHelper.js" %}"></script>

<h2>Create an event</h1>

<form action="/new_event/" method="post">{% csrf_token %}

	<input type="hidden" name="pk" value={{event.id}}>
	{{form.id}}
	{{form.owner}}
	{{form.title}}
	{{form.eventTag}}

	<h1>Articles</h1>
	{{form.articles}}
	<div id="article_search_box">
		<input type="text" placeholder="Add Articles...">
		<div id="article_result_box">
	</div>
	<script type="text/javascript">
		var searchBox = new SearchBox("article_search_box", "article_result_box", "articles");
		searchBox.articlesList = "id_articles";
	</script>

	<input type="submit" value="Save" />

</form>
{% endblock %}
