{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/create_source.css" %}" />
<script type="text/javascript" src="{% static "js/FieldValidator.js" %}"></script>
<h1 class="cs_header">Create a New Source</h1>

<form action="new_source" method="post" id="create_source_form">
	{% csrf_token %}
	<div class="cs_container">
		<div class="cs_elem">
			<label class="cs_label" for="name">Name: </label><input type="text" name="name" id="id_name">
			<div class="error_field" id="id_name_error">Your source needs a unique name.</div>
		</div>
		<div class="cs_elem">
			<label class="cs_label" for="description">Description: </label><textarea form="create_source_form" id="id_description" name="description"></textarea>
			<div class="error_field" id="id_description_error">There's actually nothing wrong here.</div>
		</div>
		<div class="cs_elem">
			<label class="cs_label" for="url">RSS URL: </label><input type="text" name="url" id="id_url">
			<div class="error_field" id="id_url_error">That URL appears to be broken. Sorry.</div>
		</div>
		<input type="submit" value="Create" id="save_button">
	</div>
	<script type="text/javascript">
		var validator = new FieldValidator(["name", "description", "url"], "/validate_source/", "{{csrf_token}}");
	</script>
</form>
{% endblock %}