{% extends "base.html" %}
{% block leftbar %}
<div id="logo-block" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="1">
  <div class="block text-only">
    <h2>Breaking News</h2>
  </div>
</div>
<div id="bottom-left-block" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="1">
  <div class="block text-only">
    <h2>Newsfeeds</h2>
      <ul>
        {% for feed in feeds %}
        <li><a href="/feed/{{ feed.id }}">{{ feed.title }}</a></li>
        {% endfor %}
    </ul>
    <h2>Newssources</h2>
      <ul>
        {% for source in sources %}
        <li><a href="/source/{{ source.id }}">{{ source.title }}</a></li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock leftbar %}
{% block content %}
<header id="intro" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2">
  <hgroup style="overflow:scroll;" class="block text-only">
  	<div id="edit-feed-link"><a href="/edit/{{ feed.id }}">Edit feed</a></div>
	<h2>{{ feed.title }}</h2>
	<ul>
		{% for source in feeds_sources %}
	 		{% for article in articles %}
				{% if source.id == article.newsSource.id %}
					<li>
						<a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
						<div class="date">{{article.pub_date}} | {{ article.newsSource }}</div>
						{{article.summaryText}}
						<br/><br/>
					</li>
				{% endif %}
			{%endfor%}
	 	{%endfor%}
	</ul>
</hgroup>
</header>
{% endblock content %}
{% block rightbar %}
<div id="right-bar-block" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="1">
  <div class="block text-only">
    <h2>Social</h2>
  </div>
</div>
{% endblock rightbar %}