{% extends "base.html" %}
{% block content %}
{% include "left-bar.html" %}
<header id="intro" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2">
  <hgroup style="overflow:scroll;" class="block text-only">
     {% include "rating.html" %}
   	<div id="edit-feed-link"><a href="/edit_feed/{{ feed.id }}">Edit feed</a></div>   
	<h2>{{ feed.title }}</h2>
	<ul id="articles_list">
		{% for article in articles %}
			{% if article.thumbnail %}
      <li class="article-list">
        <img src="{{article.thumbnail}}" class="article-img">
      {% else %}
      <li>
     {% endif %} 
						<a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
						<div class="date">{{article.pub_date}} | {{ article.newsSource }}</div>
            {{article.summaryText}}
            <br/><br/>
					</li>
	 	{%endfor%}
	</ul>
  <button id="load_button">Load More</button>
</hgroup>
</header>
<script type="text/javascript">
  var loader = new ExtraArticlesFetcher("feed", {{feed.id}});
</script>
{% include "right-bar.html" %}
{% endblock content %}