{% extends "base.html" %}
{% block content %}
{% include "left-bar.html" %}
<header id="intro" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2">
  <hgroup style="overflow:scroll;" class="block text-only">
  <ul id="articles_list">
  {% for article in articles %}
    {% if article.thumbnail %}
      <li class="article-list">
        <img src="{{article.thumbnail}}" class="article-img">
      {% else %}
      <li>
       {% endif %} 
      <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
      <div class="date">{{article.pub_date}} | {{ article.newsSource }}</div>
      {% if article.summaryText %}
        {{article.summaryText}}<br/>
      {% endif %}   
      <br/>
    </li>
  {% endfor %}
  </ul>
  <button id="load_button" class="btn btn-default create-button">Load more</button>
  <script type="text/javascript">
    var loader = new ExtraArticlesFetcher("all", -1);
  </script>
</hgroup>
</header>
{% include "right-bar.html" %}
{% endblock content %}