<div id="right-bar-block" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="1">
  <div class="block text-only">
    <h2>Social</h2>
      <ul id="right-bar-block-tweets">
        {% for tweet in tweets %}
          <p class="tweet">{{tweet.text}}</p>
        {% endfor %}
      </ul>
  </div>
</div>
<div id="right-bar-block-nf" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="1">
  <div class="block text-only">
    <h2>Recommend Articles</h2>
    <ul>
    {% for recArticle in recArticles %}
    	<li><a href="/article/{{recArticle.id}}">{{recArticle.title}}</a></li>
    {% endfor %}
	</ul>
  </div>
</div>
<div id="right-bar-block-source" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="1">
  <div class="block text-only">
    <h2>Recommended Newssources</h2>
    <ul>
    	{% for recSource in recSources %}
    		<li><a href="/source/{{recSource.id}}">{{recSource.title}}</a></li>
    	{% endfor %}
    </ul>
  </div>
</div>